extends layout

block content
  unless user
    h1 Login
    form(action="/login", method="post")
      .form-group
        label Username
        input.form-control(type="text", name="username")
      .form-group
        label Password
        input.form-control(type="password", name="password")
      button.btn.btn-default(type="submit") Submit
  else
    p Hello #{user.username}
    a(href="/") Go to main page
    br
    a(href="/logout") Logout
