extends layout

block content
  unless user
    h1 Login
    form(action="/login", method="post")
      label Username
      input(type="text", name="username")
      label Password
      input(type="password", name="password")
      button(type="submit") Submit
  else
    p Hello #{user.username}
    a(href="/") Go to main page
    br
    a(href="/logout") Logout
