extends layout

block content
 h1 Submit
 form(action="/submit", method="post")
  .form-group
    label Title
    input.form-control(type="text", name="title")
  .form-group
    label URL (if inputted, will ignore Text)
    input.form-control(type="text", name="url")
  .form-group
    label Text
    input.form-control(type="text", name="text")
  button.btn.btn-default(type="submit") Submit
