extends layout

block content
 h1 Submit
 form(action="/submit", method="post")
  label Title
  input(type="text", name="title")
  br
  label URL
  input(type="text", name="url")
  br
  label Text
  input(type="text", name="text")
  br
  button(type="submit") Submit
  br
  p If URL is inputted, the text will be ignored

