extends layout

block content
  h1 #{username}
  ul.list-group
    each comment in comments
      li.list-group-item
        a(href="#{comment.url}") #{comment.title}
        p #{comment.comment}
        
