body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.votes {
  padding-top: 15px;
}

.story-metadata {
  p {
    display: inline;
    margin-left: 1em;
    a { margin-left: .25em; }
  }
  .story-comments {
    margin-left: 1em;
  }
  margin-bottom: 1em;
}

.comment-metadata {
  margin-bottom: 1em;
  .commenter {
    margin-top:  7px;
  }
}

.comments, .main-reply {
  margin-top: 1em;
}

.depth {
  margin-left: 10em;
}
.depth-0 {
  margin-left: 0em;
}
.depth-1 {
  margin-left: 2em;
}
.depth-2 {
  margin-left: 4em;
}
.depth-3 {
  margin-left: 6em;
}
.depth-4 {
  margin-left: 8em;
}
.depth-5 {
  margin-left: 10em;
}
